.ietvars {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(180, 178, 178);
}

h1 {
    text-align: center;
    background: rgb(152, 198, 241);
    color: rgb(2, 22, 109);
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    display: inline-block;
}